<div class="row">
  <div class="col-xs-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
    <h1>Feeds</h1>
    <hr />
    <div class="text-right">
      <%= link_to 'Add Feed', new_feed_path, class: "btn btn-success" %>
    </div>
    <br>
    <%= render "feeds" %>
  </div>
</div>