<div class="row">
  <div class="col-xs-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
    <div>
      <h1>All Articles</h1>
      <hr />
      <%= link_to 'Sync', sync_entries_path, method: :get, class: 'btn btn-primary' %>
      <%= link_to "View Saved Articles", saved_entries_path, class: "btn btn-primary float-right" %>
    </div>
    <br />
    <%= render "shared/entries" %>
  </div>
</div>