<div class="row">
  <div class="col">
    <div>
      <span class="h1">All Articles</span><span>
      <%= link_to "View Saved Articles", saved_entries_path, class: " h6 float-right"%></span>
      <%= link_to 'Sync', sync_entries_path, method: :get, class: 'btn btn-primary' %> 
    </div>
    <hr />
    <%= render "shared/entries" %>
  </div class="col">
</div>